soap/simple.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://example.com/walletservice/"
        targetNamespace="http://example.com/walletservice/"
>
    <!-- Definición de tipos de datos -->
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/walletservice/">
            <element name="RegisterClientRequest">
                <complexType>
                    <sequence>
                        <element name="document" type="string"/>
                        <element name="names" type="string"/>
                        <element name="email" type="string"/>
                        <element name="phone" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="RegisterClientResponse">
                <complexType>
                    <sequence>
                        <element name="document" type="string"/>
                        <element name="names" type="string"/>
                        <element name="email" type="string"/>
                        <element name="phone" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="GetSaldoRequest">
                <complexType>
                    <sequence>
                        <element name="document" type="string"/>
                        <element name="phone" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GetSaldoResponse" type="string"/>

            <element name="GetUserRequest" type="string"/>
            <element name="GetUserResponse">
                <complexType>
                    <sequence>
                        <element name="document" type="string"/>
                        <element name="names" type="string"/>
                        <element name="email" type="string"/>
                        <element name="phone" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="LoadWalletRequest">
                <complexType>
                    <sequence>
                        <element name="document" type="string"/>
                        <element name="phone" type="string"/>
                        <element name="value" type="double"/>
                    </sequence>
                </complexType>
            </element>
            <element name="LoadWalletResponse">
                <complexType>
                    <sequence>
                        <element name="status" type="int"/>
                        <element name="message" type="string"/>
                        <element name="balance" type="double"/>
                    </sequence>
                </complexType>
            </element>

            <element name="MakePayRequest">
                <complexType>
                    <sequence>
                        <element name="document" type="string"/>
                        <element name="value" type="double"/>
                    </sequence>
                </complexType>
            </element>
            <element name="MakePayResponse">
                <complexType>
                    <sequence>
                        <element name="status" type="int"/>
                        <element name="message" type="string"/>
                        <element name="sessionKey" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="ConfirmPayRequest">
                <complexType>
                    <sequence>
                        <element name="sessionKey" type="string"/>
                        <element name="otp" type="string"/>
                        <element name="document" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ConfirmPayResponse">
                <complexType>
                    <sequence>
                        <element name="status" type="int"/>
                        <element name="message" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <!-- Define los tipos de datos para otras operaciones como loadWallet, makePay, confirmPay, etc. -->
        </schema>
    </types>

    <!-- Definición de los mensajes -->
    <message name="RegisterClientRequestMessage">
        <part name="parameters" element="tns:RegisterClientRequest"/>
    </message>
    <message name="RegisterClientResponseMessage">
        <part name="parameters" element="tns:RegisterClientResponse"/>
    </message>

    <message name="GetSaldoRequestMessage">
        <part name="parameters" element="tns:GetSaldoRequest"/>
    </message>
    <message name="GetSaldoResponseMessage">
        <part name="parameters" element="tns:GetSaldoResponse"/>
    </message>

    <message name="GetUserRequestMessage">
        <part name="parameters" element="tns:GetUserRequest"/>
    </message>
    <message name="GetUserResponseMessage">
        <part name="parameters" element="tns:GetUserResponse"/>
    </message>

    <message name="LoadWalletRequestMessage">
        <part name="parameters" element="tns:LoadWalletRequest"/>
    </message>
    <message name="LoadWalletResponseMessage">
        <part name="parameters" element="tns:LoadWalletResponse"/>
    </message>

    <message name="MakePayRequestMessage">
        <part name="parameters" element="tns:MakePayRequest"/>
    </message>
    <message name="MakePayResponseMessage">
        <part name="parameters" element="tns:MakePayResponse"/>
    </message>

    <message name="ConfirmPayRequestMessage">
        <part name="parameters" element="tns:ConfirmPayRequest"/>
    </message>
    <message name="ConfirmPayResponseMessage">
        <part name="parameters" element="tns:ConfirmPayResponse"/>
    </message>
    <!-- Define los mensajes para otras operaciones como loadWallet, makePay, confirmPay, etc. -->

    <!-- Definición del puerto y el servicio -->
    <portType name="WalletServicePortType">
        <operation name="registerClient">
            <input message="tns:RegisterClientRequestMessage"/>
            <output message="tns:RegisterClientResponseMessage"/>
        </operation>
        <operation name="getSaldo">
            <input message="tns:GetSaldoRequestMessage"/>
            <output message="tns:GetSaldoResponseMessage"/>
        </operation>
        <operation name="GetUser">
            <input message="tns:GetUserRequestMessage"/>
            <output message="tns:GetUserResponseMessage"/>
        </operation>
        <operation name="LoadWallet">
            <input message="tns:LoadWalletRequestMessage"/>
            <output message="tns:LoadWalletResponseMessage"/>
        </operation>
        <operation name="MakePay">
            <input message="tns:MakePayRequestMessage"/>
            <output message="tns:MakePayResponseMessage"/>
        </operation>
        <operation name="ConfirmPay">
            <input message="tns:ConfirmPayRequestMessage"/>
            <output message="tns:ConfirmPayResponseMessage"/>
        </operation>
        <!-- Define otras operaciones aquí -->
    </portType>

    <binding name="WalletServiceBinding" type="tns:WalletServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="registerClient">
            <soap:operation soapAction="http://example.com/walletservice/registerClient"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSaldo">
            <soap:operation soapAction="http://example.com/walletservice/getSaldo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetUser">
            <soap:operation soapAction="http://example.com/walletservice/getUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="LoadWallet">
            <soap:operation soapAction="http://example.com/walletservice/getUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="MakePay">
            <soap:operation soapAction="http://example.com/walletservice/makePay"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConfirmPay">
            <soap:operation soapAction="http://example.com/walletservice/confirmPay"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- Define otras operaciones aquí -->
    </binding>

    <service name="WalletService">
        <port name="WalletServicePort" binding="tns:WalletServiceBinding">
            <soap:address location="http://localhost/soap/soap.php"/>
        </port>
    </service>
</definitions>
